body {
  font-family: "PT Mono", monospace;
  background-color: #f6f6f6;
}

h1 {
  font-size: 50px;
}

footer {
  text-align: center;
}

#weather-icon {
  padding: 10px, 5px;
  margin: 5px;
}

h1#city {
  margin-top: 10px;
}

#description,
h1#city {
  text-transform: capitalize;
}

#description,
h1#city,
.temperature,
.forecast-day,
.units {
  font-weight: 600;
  color: #414a50;
}

.temperature {
  font-size: 50px;
  position: relative;
  bottom: -15px;
  left: -15px;
}
.last-updated,
#date {
  line-height: 2;
  font-size: 14px;
}

.units {
  position: relative;
  font-size: 18px;
  top: -15px;
  left: -15px;
}

.bottom-section-forecast {
  font-family: "Lato", sans-serif;
}

.weather-app {
  margin: 15px auto;
  border: 1px solid;
  border-radius: 10px;
  border-color: transparent;
  padding: 5x;
  max-width: 700px;
  line-height: 1;
}

.forecast-day,
.forecast-max {
  font-weight: 600;
  color: #414a50;
}

.forecast-min {
  font-size: 14px;
}

.background-app {
  background-color: #c4dce0;
}

.btn-info {
  color: #212529;
  background-color: #ffcece;
  border-color: #414a50;
}

.btn-info:hover {
  color: #212529;
  background-color: #ffb5b5;
  border-color: #414a50;
}

/* Dark theme start */

.dark .background-app {
  background-color: #385170;
}

.dark .icon-sun {
  display: none;
}

.dark .icon-moon {
  display: block;
  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(18deg) brightness(104%)
    contrast(102%);
}

.dark .btn-info {
  color: #212529;
  background-color: #f78536;
  border-color: #414a50;
}

.dark .btn-info:hover {
  color: #212529;
  background-color: #ffd3b6;
  border-color: #414a50;
}

/* Dark theme - end */

input[type="checkbox"] {
  display: none;
}
.icon-sun {
  display: block;
}

.icon-moon {
  display: none;
}
