body {
  font-family: "PT Mono", monospace;
  background-color: #f6f6f6;
}

h1 {
  font-size: 50px;
}

footer {
  text-align: center;
}

img.forecast {
  margin: 10px;
  padding: 5px 10px;
}

#description,
h1#city {
  text-transform: capitalize;
}

#description,
h1#city,
.temperature,
.forecast-day,
#temp-hi {
  font-weight: 600;
  color: #414a50;
}

h1#city {
  margin-top: 10px;
}

#weather-icon {
  width: 140px;
}

span.temperature {
  font-size: 50px;
  line-height: 70px;
}

.last-updated,
#date {
  line-height: 2;
  font-size: 14px;
}

.bottom-section-forecast {
  font-family: "Lato", sans-serif;
}

.weather-app {
  margin: 15px auto;
  border: 1px solid;
  border-radius: 10px;
  border-color: transparent;
  padding: 5x;
  max-width: 700px;
  line-height: 1;
}

.forecast-day,
.forecast-max {
  font-weight: 600;
  color: #414a50;
}

.forecast-min {
  font-size: 14px;
}

.background-app {
  background-color: #c4dce0;
}

.btn-info {
  color: #212529;
  background-color: #85a6b1;
  border-color: #414a50;
}

.btn-info:hover {
  color: #212529;
  background-color: #51adcf;
  border-color: #07588a;
}
